<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/statics/image/download2.png">
    <title>Download video YT</title>
    <link rel="stylesheet" href="/statics/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div id="header_left">
          <img src="../statics/image/download2.png" alt="" />
          <h1>DowloadVideoYT</h1>
        </div>

        <div id="header_mid">
          <h2>YOUTUBE VIDEO DOWNLOADER</h2>
          <p>yt to mp3, yt to mp4 converter</p>
          <form method="POST" id="form">
            <div id="wrap_input">
                <img src="../statics/image/link.png" alt="">
              <input
                type="text"
                id="input"
                name="url"
                placeholder=" Enter link youtobe..."
              />
            </div>
            <button id="click" type="submit">Submit</button>
          </form>
        </div>
        </div>

        <div id="header_right"></div>
      </div>
      <div class="body">
        <div id="body_top_wrapper">
          <div id="body_top">
            <img src="../statics/image/search.png" alt="" />
            <h1>1.Copy link</h1>
            <p>
              Select video and copy link on youtube app or website youtube.com
            </p>
            <img id="img2" src="../statics/image/B1.jpg" alt="" />
          </div>
          <div id="body_top">
            <img src="../statics/image/paste2.png" alt="" />
            <h1>2.Paste link</h1>
            <p>
              Paste the video link into the input box and press the 'Submit'
              button
            </p>
            <img id="img2" src="../statics/image/B2.jpg" alt="" />
          </div>
          <div id="body_top">
            <img src="../statics/image/download.png" alt="" />
            <h1>3.Download</h1>
            <p>
              Select the type of video you want to download, SD, HD,
              FullHD(1080)
            </p>
            <img id="img2" src="../statics/image/B3.png" alt="" />
          </div>
        </div>
        <div id="body_mid">
          <div id="body_mid_left">
            <h2>Instructions</h2>
            <p id="firstP">
              1. Paste the URL of the website into the input field and click
              'Start' to start the process.
            </p>
            <p id="secondP">2. Select the video or audio to download</p>
            <p id="secondP">3. Click 'Download' button to download video</p>
          </div>
          <div id="body_mid_left">
            <h2>Features</h2>
            <li id="firstP">Download video file MP4 youtube</li>
            <li id="secondP">
              Download video youtube using your browser only. No other tools
              needed
            </li>
            <li id="secondP">Download video youtube with Full HD quality</li>
            <li id="secondP">Support downloading video and audio</li>
          </div>
        </div>
        <hr />
      </div>
      <div class="end">
        <div id="end_top"><p>LẬP TRÌNH AN TOÀN THÔNG TIN - GV: TS.PHẠM THANH SƠN</p></div>
        <div id="end_lmr">
          <div id="end_left">
            <p>Đỗ Nguyên Phương</p><br>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div id="end_left">
            <p>Nguyễn Anh Nam</p><br>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div id="end_left">
            <p>Nguyễn Duy Phương</p><br>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>

        </div>
        <div id="end_top"><span>@ 2016 - 2023 nguyenphuongdo22@gmail.com</span></div>

      </div>
    </div>
    <!-- <form method="POST">
        <input type="text" placeholder="https://youtube.com" name="url">
        <button type="submit">Select this</button>
    </form> -->
  </body>
</html>
