*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}

.wrap_dl{
    width: 100%;
    height: 1150px;
    background-color: aliceblue;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(31,41,55);
}
.header>img{
    float: left;
    margin-left: 18%;
    margin-top: 25px; 
    width: 30px;
    height: 30px;
    border-radius: 4px
}
.header>p{
    float: left;
    color: rgb(113,120,130);
    position: relative;
    top: 30px;
    left: 10px;
}
.header>a{
    position: relative;
    left: 750px;
    top: 30px;
    color: rgb(113,120,130);
    text-decoration: none;
}
.body{
    text-align: center;
    margin-top: 10px;
    width: 64%;
    height: 935px;
    position: relative;
    left: 18%;
    background-color: white;
    box-shadow:   0.5px 0.5px 0.5px 0.5px gainsboro;
}
#left{
    float: left;
    position: relative;
    top: 44px;
    left: 20px;
    border-radius: 8px;
    width: 60%;
    height: 500px;
    /* background-color: antiquewhite; */
}
.body>h1{
    position: relative;
    top: 20px;
    color: brown;
    font-size: 30px;
}
#left>h1{
    position: relative;
    top: 10px;
    color: rgb(113,120,130);
    font-size: 20px;
}
#left>img{
    width: 100%;
    height: 400px;
    border-radius: 6px;
    background-size: cover;
}
.form{
    text-align: center;
    margin-top: 25px;
    width: 35%;
    height: 200px;
    position: relative;
    left: 63%;
    top:2.3%;
    border-radius: 6px;
    /* background-color: aqua;   */
}
#pixel{
    border: none;
    outline: none !important;
    width: 100%;
    height: 50px;
     position: relative;
     top: -475px;
     border-radius: 5px;
     text-align: center;
    color: rgb(113,120,130);
    font-weight: 600;
    border: 0.1px solid rgb(182, 184, 187);
}
#pixel:hover{
    font-weight: 600;
    background-color: rgb(235, 203, 203);
}
#chooseDl{
    color: rgb(113,120,130);
}

#click{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none !important;
    background-color: rgb(212, 101, 101);
    position: relative;
    top: -400px;
    color: aliceblue;
    font-weight: 600;
    
}
#body_bot{
    width: 100%;
    height: 350px;
    position: relative;
    top: 320px;
    /* background-color: blanchedalmond; */
}
#body_bot_left{
    float: left;
    position: relative;
    top: -275px;
    text-align: center;
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
}

#body_bot_left>#image1{
    width: 60px;
    height: 60px;
}
#body_bot_left>h1{
    margin-top: 5px;
    font-size: 20px;
    color: rgb(113,120,130);
}
#body_bot_left>p{
    margin-top: 5px;
    font-size: 20px;
}
#body_bot_left>#image2{
    margin-top: 10px;
    border: 0.5px solid rgb(227, 231, 237);
    border-radius: 5px;
    /* background-color: rgb(182, 184, 187); */
    width: 90%;
    height: 200px;
}
.end{
    margin-top: 10px;
    width: 100%;
    height: 160px;
    background-color: rgb(31,41,55);
}
#end_top{
    text-align: center;
    width: 80%;
    height: 20%;
    position: relative;
    left: 10%;
    /* background-color: blueviolet; */
}
#end_top>p{
    position: relative;
    top:8px;
    color: rgb(222, 226, 233);
}
#end_lmr{
    width: 80%;
    height: 58%;
    position: relative;
    left: 10%;
    /* background-color: aqua; */
}
#end_left{
    float: left;
    width: 33.3%;
    height:100%;
    text-align: center;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px gainsboro; */
}
#end_left>p{
    color: rgb(113,120,130);
    position: relative;
    top: 20%;
}
#end_left>a{  
    float: left;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 4px;
   position: relative;
   top:10px;
   left: 24%;
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
}
#end_left>a:hover{
    background-color: rgb(223, 118, 118);
}
#end_left>a>i{
    position: relative;
    top: 8px;
}
#end_top>span{
    position: relative;
    top: 5px;
    font-size: 16px;
    color: rgb(222, 226, 233);
}
